/* Header */

html {
    background-color: #384047
}

.title-header {
    padding: 2em;
}

img:hover { 
    transform: rotate(90deg);
    transition:.5s;
    /*background-color: yellow; */
}

/* Date Time positioning */
#date {
    position: absolute;
    left: 5%;
}


#time {
    position: absolute;
    right: 5%;  
}


body {
    font-family: 'Nunito', sans-serif;
    color: lightgray;
}


h1 {
    margin: 0 auto;
    text-align: center;
}

input[type="radio"] {
  margin: 5px 4px 8px 0;
}    
    

.light {
    color:darkorange;
    font-family: 'Nunito', sans-serif;
    }

.main-footer { 
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    color: darkgrey;
    background-color: navy;
    bottom:0%;
}

input[type="radio"] {
    
    margin:5px;
}


    
/* ====================================
 Media Queries
 ======================================*/

@media (min-width: 700px) {
    
    .banner {
        position: absolute;
        top:0%;
        width:100%;
    }

    .wrapper {
        position: relative;
        display: inline;
        padding-top: 2em 1em;
    }
    .wrap{
        padding:2em;
        border: 20px whitesmoke;
    }

    .main-header {
        width: 100%;
    }

  

    .radio1 {
        padding:2em;
    }
}

@media (max-width: 699px) { 
    
        .wrapper {
        text-align: center;
        transform: scale(3,3);
        
    }

        .wrap {
        display:block;
        
    }
}
